<a href="https://colab.research.google.com/github/Athulksanoj/ict_assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
item1_price = float(input('Enter Item 1 price: '))
item1_quantity = int(input('Enter Item 1 quantity: '))

item2_price = float(input('Enter Item 2 price: '))
item2_quantity = int(input('Enter Item 2 quantity: '))

total_bill = (item1_price * item1_quantity) + (item2_price * item2_quantity)

print('Total Bill:', total_bill)

Enter Item 1 price: 45
Enter Item 1 quantity: 3
Enter Item 2 price: 30
Enter Item 2 quantity: 2
Total Bill: 195.0

In [ ]:
celsius = float(input('Enter temperature in Celsius: '))
fahrenheit = (celsius * 9/5) + 32
print('Temperature in Fahrenheit:', fahrenheit)

Enter temperature in Celsius: 30
Temperature in Fahrenheit: 86.0

In [ ]:
salary = float(input('Enter salary:'))
total = salary*0.2 + salary*0.1 + salary
print('Total salary:',total)

Enter salary:20000
Total salary: 26000.0

In [ ]:
P=int(input('Enter principle:'))
R=int(input('Enter rate:'))
T=int(input('Enter time:'))
si=(P*R*T)/100
print('simple interest:',si)

Enter principle:10000
Enter rate:5
Enter time:2
simple interest: 1000.0

In [ ]:
m = int(input('Enter minutes:'))
h = m//60
m = m%60
print(h,'hours' ' and',m,'minutes')

Enter minutes:130
2 hours and 10 minutes

In [ ]:
w = int(input('Enter the weight:'))
h = float(input('Enter the height:'))
bmi = floatw/(h*h)
print('bmi:',bmi)

Enter the weight:60
Enter the height:1.65
bmi: 22.03856749311295

In [ ]:
p = int(input('Original price:'))
d = p*0.1
x = p-d
print('Discount price:',x)

Original price:1200
Discount price: 1080.0

In [ ]:
a = int(input('Enter side a :'))
b = int(input('Enter side b :'))
c = int(input('Enter side c :'))
s = (a+b+c)/2
Area = math.sqrt(s*(s-a)*(s-b)*(s-c))
print('Area:',Area)

Enter side a :5
Enter side b :6
Enter side c :7
Area: 14.696938456699069

In [ ]:
a=int(input("enter wall lenght(in m):"))
b=int(input("enter wall height(in m):"))
window_area=1.5*1.2
wall_area=a*b
paint_area=wall_area-window_area
cost = paint_area*25
print("Total area to be painted:",paint_area)
print("total cost",cost)

enter wall lenght(in m):12
enter wall height(in m):8
Total area to be painted: 94.2
total cost 2355.0

In [ ]:
a=float(input("enter no of unit consumed:"))
f=100
rate=a*5.2
total_bill=rate+100
print("electricity bill:" ,total_bill)

enter no of unit consumed:250
electricity bill: 1400.0